<footer class="mw-100" id="footer">
    <ul class="row list-unstyled w-100 m-auto">
        <li class=" col-lg bg-dark text-white text-center py-18">
            <img class="mb-2" src="https://elise.vn/media/wysiwyg/footer/return.png" alt=""
                 style="width: 1.6875rem;height: 1.6875rem;">
            <p class="m-0">
                <strong class="uppercase fw-normal fst-normal">7 ngày đổi sản phẩm nguyên giá</strong>
            </p>
            <a class="text-white fw-normal fst-normal text-decoration-none opacity-90 m-0"
               href="https://elise.vn/refunds-returns">Đổi trả sản phẩm trong 7 ngày</a>
        </li>
        <li class=" col-lg bg-dark text-white text-center py-18 ml-1px">
            <img class="mb-2" src="https://elise.vn/media/wysiwyg/footer/support.png" alt=""
                 style="width: 1.6875rem;height: 1.6875rem;">
            <p class="m-0">
                <strong class="uppercase fw-normal fst-normal">HOTLINE 1900 3060</strong>
            </p>
            <p class="text-white fw-normal fst-normal text-decoration-none opacity-90 m-0 cursor-text">
                8h00 - 17h00,
                T2 - T7 (Giờ hành chính)
            </p>
        </li>
        <li class=" col-lg bg-dark text-white text-center py-18 ml-1px">
            <img class="mb-2" src="https://elise.vn/media/wysiwyg/footer/store.png" alt=""
                 style="width: 1.6875rem;height: 1.6875rem;">
            <p class="m-0">
                <strong class="uppercase fw-normal fst-normal">HỆ THỐNG CỬA HÀNG</strong>
            </p>
            <a class="text-white fw-normal fst-normal text-decoration-none opacity-90 m-0"
               href="https://elise.vn/maplist/">120 cửa hàng trên toàn hệ thống</a>
        </li>
        <li class=" col-lg bg-dark text-white text-center py-18 ml-1px">
            <img class="mb-2" src="https://elise.vn/media/wysiwyg/footer/shipping.png" alt=""
                 style="width: 1.6875rem;height: 1.6875rem;">
            <p class="m-0">
                <strong class="uppercase fw-normal fst-normal">VẬN CHUYỂN</strong>
            </p>
            <p class="text-white fw-normal fst-normal text-decoration-none opacity-90 m-0">
                Đồng giá 30k toàn quốc
            </p>
        </li>
    </ul>
    <section class="bg d-block" style="padding: 105px 0 85px;">
        <div class="mx-auto" style="width: 1200px;">
            <div class="row fw-normal text-xl-center">
                <div class="col-3">
                    <h4 class="uppercase fs-17 fw-500 mb-4">Thông tin</h4>
                    <ul class="list-unstyled fs-15">
                        <li class="text-hover color-text">
                            <a>
                                CÔNG TY TNHH THỜI TRANG ELISE
                                <br>
                                Tầng 8 - Số 2 Tôn Thất Tùng - Đống Đa - Hà Nội
                            </a>
                        </li>
                        <li>
                            <a href="tel:19003060"
                               class="text-decoration-none color-text cursor-pointer text-hover">19003060</a>
                        </li>
                        <li>
                            <a href="mailto:support@elise.vn&nbsp;"
                               class="text-decoration-none color-text  text-hover">support@elise.vn</a>
                        </li>
                        <li>
                            <a class="text-decoration-none color-text text-hover">MST: 0108393204</a>
                        </li>
                    </ul>

                </div>
                <div class="col-3">
                    <h4 class="uppercase fs-17 fw-500 mb-4">Liên hệ</h4>
                    <ul class="list-unstyled  fs-15">
                        <li>
                            <a class="text-hover  color-text text-decoration-none" href="">Giới thiệu</a>
                        </li>
                        <li>
                            <a href="" class="text-hover  color-text text-decoration-none">Tin tức</a>
                        </li>
                        <li>
                            <a href="" class="text-hover  color-text text-decoration-none">Hệ thống cửa hàng</a>
                        </li>
                        <li>
                            <a href="" class="text-hover  color-text text-decoration-none">Trợ giúp</a>
                        </li>
                    </ul>

                </div>
                <div class="col-3">
                    <h4 class="uppercase fs-17 fw-500 mb-4">Hỗ trợ khách hàng</h4>
                    <ul class="list-unstyled fs-15">
                        <li>
                            <a href="" class="text-hover  color-text text-decoration-none">Hướng dẫn mua hàng</a>
                        </li>
                        <li>
                            <a href="" class="text-hover  color-text text-decoration-none">Đăng ký tài khoản</a>
                        </li>
                        <li>
                            <a href="" class="text-hover  color-text text-decoration-none">Chính sách giao hàng</a>
                        </li>
                        <li>
                            <a href="" class="text-hover  color-text text-decoration-none">
                                Chính sách đổi trả hoàn
                                tiền
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-hover  color-text text-decoration-none">
                                Ưu đãi sinh nhật khách
                                hàng
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-hover  color-text text-decoration-none">
                                Hướng dẫn thanh toán qua
                                Insta
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-hover  color-text text-decoration-none">
                                Hướng dẫn trả góp qua
                                Insta
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="row col-3 align-self-lg-center">
                    <div class="col-lg-1" style="max-height: 2.8125rem; width: 60%; ">
                        <a class="" href="https://apps.apple.com/vn/app/elise-fashion/id1658265482" target="_blank"
                           rel="noopener">
                            <img class="mb-1" src="https://elise.vn/media/wysiwyg/footer/apple-download.png" alt=""
                                 style="height: 100%; max-width: 100%; object-fit: contain;">
                        </a>
                        <a class="" href="https://play.google.com/store/apps/details?id=com.elise.customers"
                           target="_blank" rel="noopener">
                            <img class="" src="https://elise.vn/media/wysiwyg/footer/chplay-download.png" alt=""
                                 style="height: 100%; max-width: 100%; object-fit: contain;">
                        </a>
                    </div>
                    <div class="col-lg-1" style="max-height:  5.7rem; width: 40%;">
                        <img class="" src="https://elise.vn/media/wysiwyg/ECOM/codepr.jpg" alt=""
                             style="height: 100%;width: 100%; object-fit: contain">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div>
        <div style="padding: 60px 0;">
            <div class="text-center" style="margin: 0 350px;">
                <ul class="d-flex justify-content-center list-unstyled uppercase align-items-center">
                    <li class="mx-2 px-3">
                        <a href="https://www.facebook.com/elisevietnam"
                           class="text-decoration-none text-dark fs-18">
                            <i class="fa-brands fa-facebook-f"></i>
                            <span class="fw-300 lh-175 text-hover-underline">facebook</span>
                        </a>
                    </li>
                    <li class="mx-2 px-3">
                        <a href="https://www.instagram.com/elise_fashion/"
                           class="text-decoration-none text-dark fs-18">
                            <i class="fa-brands fa-instagram"></i>
                            <span class="fw-300 lh-175 text-hover-underline">instagram</span>
                        </a>
                    </li>
                    <li class="mx-2 px-3">
                        <a href="https://www.youtube.com/channel/UCJQ_oyCa-XLriHtnotsAJnQ"
                           class="text-decoration-none text-dark fs-18">
                            <i class="fa-brands fa-youtube"></i>
                            <span class="fw-300 lh-175 text-hover-underline">youtube</span>
                        </a>
                    </li>
                    <li class="mx-2 px-3">
                        <a href="https://www.tiktok.com/eliseofficial.ol"
                           class="text-decoration-none text-dark fs-18">
                            <i class="fa-brands fa-tiktok"></i>
                            <span class="fw-300 lh-175 text-hover-underline">tiktok</span>
                        </a>
                    </li>
                    <li class="mx-2 px-3">
                        <a href="https://zalo.me/1834764771593862920" class="text-decoration-none text-dark fs-18">
                            <i class="fa-solid fa-z"></i>
                            <span class="fw-300 lh-175 text-hover-underline">zalo</span>
                        </a>
                    </li>
                </ul>
                <address class="color-text">© Elise 2020. All rights reserved</address>
                <div class="mt-1">
                    <a href="http://online.gov.vn/Home/WebDetails/50703" target="_blank" rel="noopener">
                        <img src="https://elise.vn/media/wysiwyg/bocongthuong.png" alt=""
                             style="max-height: 55px;width: 145px;">
                    </a>
                </div>
            </div>
        </div>

    </div>
</footer>
