<header class="header">
    <div class="middle-content">
        <div class="d-flex justify-content-between align-items-center">
            <div class="header-left d-flex align-items-center">
                <div class="action-menu-responsive">
                    <div class="action nav-togger">
                        <i class="fa-solid fa-bars fs-21"></i>
                    </div>
                </div>
                <strong class="logo">
                    <img src="https://elise.vn/media/logo/default/logo_color.png" alt="Elise - Exclusive"
                         width="167" height="28" />
                </strong>
            </div>
            <div class="header-center d-flex">
                <div class="search-form">
                    <div class="form-search d-flex align-items-center">
                        <form action="" class="form minisearch" id="search_mini_form">
                            <span class="title-search">Tìm Kiếm</span>
                            <input id="search" class="input-text" type="text" maxlength="128" />
                            <button type="submit" title="Tìm Kiếm" class="button" disabled="">
                                <i class="fa-solid fa-magnifying-glass fs-21"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="header-right d-flex flex-end align-items-center">
                <div class="header-phone" data-role="stringee-area">
                    <div class="stringee-call-action d-flex align-items-center">
                        <i class="fa-solid fa-phone-flip fs-21 mr-10"></i><span>Gọi Ngay</span>
                    </div>
                </div>

                <div class="header-account ">
                    <div class=" is-canvas">
                        <span class="label"><i class="fa-regular fa-user fs-21 mr-10"></i></i>Tài Khoản</span>
                    </div>
                </div>

                <div class="cart">
                    <i class="fa-solid fa-bag-shopping fs-21"></i>
                </div>
                <div class="follow">
                    <i class="fa-regular fa-heart fs-21 hv"></i>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="header-wrapper-end">
    <div class="header-canvas-menu megamenu-content" style="padding-top: 100px;">
        <div class="close-menu"><i class="fa-solid fa-xmark"></i></div>
        <div id="main-Menucontent" class="item-pane menu-list">
            <div class="menu-logo">
                <a href="https://elise.vn/">
                    <img src="https://elise.vn/media/logo/default/logo_color.png" alt="menu logo">
                </a>
            </div>
            <div class="container-menu">
                <ul class="list-menu">
                    <li class="item-menu">Bộ sưu tập</li>
                    <li class="item-menu">Thời trang nữ</li>
                    <li class="item-menu">Phụ kiện</li>
                    <li class="item-menu">Sale up to 50%</li>
                    <li class="item-menu">Elise store</li>
                    <li class="item-menu">Thẻ thành viên</li>
                    <li class="item-menu">Hệ thộng cửa hàng</li>
                    <li class="item-menu">Thông tin</li>
                    <li class="item-menu">ESG Activities</li>
                    <li class="item-menu">May đo đồng phục</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="canvas canvas-customer-login">
        <div class="close"><i class="fa-solid fa-xmark"></i></i></div>
        <div class="canvas-content-wrapper ">
            <div class="title uppercase "><span>Đăng nhập</span></div>
            <div class="create-account ">
                <span>Bạn chưa có tài khoản?</span><a href="@Url.Action("Register","User")" class="text-des-none-hover">Tạo tài khoản</a>
            </div>
        </div>
        <form class="form form-login myaccount-form-login" action="https://elise.vn/customer/account/loginPost/"
              method="post" id="login-form" novalidate="novalidate">
            <input name="form_key" type="hidden" value="LPxjP7jomw24ewTt">
            <div class="field-control email required">
                <input name="username" placeholder="Địa chỉ email hoặc số điện thoại của bạn" value=""
                       autocomplete="off" id="email" type="text" class="input-text" title="Email">
            </div>
            <div class="field-control password required">
                <input name="password" placeholder="Mật khẩu" type="password" autocomplete="off" class="input-text"
                       id="pass" title="Mật khẩu">
            </div>
            <div class=" action remind">
                <a href="" class="underline">Quên mật khẩu?</a>
            </div>
            <div class="field choice mgs-gdpr-checkbox d-flex flex-start" style="margin-top: 10px;">
                <input type="checkbox" style="width: 30px;margin-top: 5px;">
                <label for="accept_gdpr" class="label">
                    <span>
                        Tôi đồng ý Điều kiện - Điều khoản &amp; Chính sách bảo
                        mật của
                        Elise.
                    </span>
                </label>
            </div>
            <div class="actions-toolbar">
                <button type="submit" class="action btn-login uppercase" name="send" id="send2">
                    <span>Đăng nhập</span>
                </button>
            </div>
            </fieldset>
        </form>
        <div class="myaccount-socials-login">
            <div class="btn-login-social login-facebook uppercase">
                <a href="#" style="text-decoration: none;">
                    <i class="fab fa-facebook-f"></i><span>
                        Đăng nhập bằng
                        facebook
                    </span>
                </a>
            </div>
            <div class="btn-login-social login-google uppercase">
                <a href="#" style="text-decoration: none;">
                    <i class="fab fa-google-plus-g"></i><span>
                        Đăng nhập bằng
                        google
                    </span>
                </a>
            </div>

        </div>
    </div>
    </div>
    <div class="header-overlay"></div>
</section>
