<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/font/fontawesome-free-6.4.2-web/css/all.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="header"></div>
   
    <div id="container">
        
        <div class="content">
            @RenderBody()
        </div>
        
    </div>
    <script src="~/Scripts/js/main.js"></script>
</body>
</html>
