<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="icon" href="https://cdn4.iconfinder.com/data/icons/pop-scenes/1000/workspace___technology_work_from_home_home_laptop_computer_online-128.png" type="image/x-icon">
    <link href="https://fonts.cdnfonts.com/css/helvetica-neue-55" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="header">
        <div class="middle-content">
            <div class="d-flex justify-content-between align-items-center ">
                <div class="header-left d-flex align-items-center">
                    <div class="action-menu-responsive">
                        <div class="action nav-togger">
                        </div>
                    </div>
                    <strong class="logo">
                        <img src="https://elise.vn/media/logo/default/logo_color.png" alt="Elise - Exclusive" width="167"
                             height="28" />
                    </strong>
                </div>
                <div class="header-center d-flex">
                    <div class="search-form">
                        <div class="form-search d-flex align-items-center">
                            <form action="" class="form minisearch" id="search_mini_form">
                                <span class="title-search">Tìm Kiếm</span>
                                <input id="search" class="input-text" type="text" maxlength="128" />
                                <button type="submit" title="Tìm Kiếm" class="button" disabled="">
                                    <i class="fa-solid fa-magnifying-glass fs-21"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right d-flex flex-end align-items-center">
                    <div class="header-phone" data-role="stringee-area">
                        <div class="stringee-call-action d-flex align-items-center">
                            <i class="fa-solid fa-phone-flip fs-21 mr-10"></i><span>Gọi Ngay</span>
                        </div>
                    </div>

                    <div class="header-account ">
                        <div class=" is-canvas">
                            <span class="label"><i class="fa-regular fa-user fs-21 mr-10"></i></i>Tài Khoản</span>
                        </div>
                    </div>

                    <div class="cart">
                        <i class="fa-solid fa-bag-shopping fs-21"></i>
                    </div>
                    <div class="follow">
                        <i class="fa-regular fa-heart fs-21 hv"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="header-wrapper-end">

        <div class="canvas canvas-customer-login">
            <div class="close"><i class="fa-solid fa-xmark"></i></i></div>
            <div class="canvas-content-wrapper">
                <div class="title uppercase"><span>Đăng nhập</span></div>
                <div class="create-account">
                    <span>Bạn chưa có tài khoản?</span><a href="#" class="underline">Tạo tài khoản</a>
                </div>
            </div>
            <form class="form form-login myaccount-form-login" action="https://elise.vn/customer/account/loginPost/"
                  method="post" id="login-form" novalidate="novalidate">
                <input name="form_key" type="hidden" value="LPxjP7jomw24ewTt">
                <div class="field-control email required">
                    <input name="username" placeholder="Địa chỉ email hoặc số điện thoại của bạn" value="" autocomplete="off"
                           id="email" type="text" class="input-text" title="Email">
                </div>
                <div class="field-control password required">
                    <input name="password" placeholder="Mật khẩu" type="password" autocomplete="off" class="input-text" id="pass"
                           title="Mật khẩu">
                </div>
                <div class=" action remind">
                    <a href="" class="underline">Quên mật khẩu?</a>
                </div>
                <div class="field choice mgs-gdpr-checkbox d-flex flex-start" style="margin-top: 10px;">
                    <input type="checkbox" style="width: 30px;margin-top: 5px;">
                    <label for="accept_gdpr" class="label">
                        <span>
                            Tôi đồng ý Điều kiện - Điều khoản &amp; Chính sách bảo mật của
                            Elise.
                        </span>
                    </label>
                </div>
                <div class="actions-toolbar">
                    <button type="submit" class="action btn-login uppercase" name="send" id="send2">
                        <span>Đăng nhập</span>
                    </button>
                </div>
                </fieldset>
            </form>
            <div class="myaccount-socials-login">
                <div class="btn-login-social login-facebook uppercase">
                    <a href="#" style="text-decoration: none;">
                        <i class="fab fa-facebook-f"></i><span>
                            Đăng nhập bằng
                            facebook
                        </span>
                    </a>
                </div>
                <div class="btn-login-social login-google uppercase">
                    <a href="#" style="text-decoration: none;">
                        <i class="fab fa-google-plus-g"></i><span>
                            Đăng nhập bằng
                            google
                        </span>
                    </a>
                </div>

            </div>
        </div>
        </div>
        <div class="header-overlay"></div>
    </section>

    <div class="slideshow-container">
        <div class="slide fade">
            <img src="~/Content/img/cv-2909.jpg" class="img-side" />
        </div>
        <div class="slide fade">
            <img src="~/Content/img/cv-denim.jpg" class="img-side" />
        </div>
        <div class="slide fade">
            <img src="~/Content/img/cv-ex.png" class="img-side" />
        </div>
        <div class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>

    <div id="container">

        <div class="content">
            @RenderBody()
        </div>
    </div>
            <div id="footer1">
            <center>
                <strong>
                    <br />
                    <i class="fa-solid fa-clock-rotate-left"></i><br />
                    7 NGÀY ĐỔI SẢN PHẨM NGUYÊN GIÁ<br />
                </strong>
                <a href="#">Đổi trả sản phẩm trong 7 ngày</a>
            </center>
        </div>

        <div id="f1"></div>

        <div id="footer2">
            <center>
                <strong>
                    <br />
                    <i class="fa-solid fa-phone"></i><br />
                    HOTLINE 1900 3060<br />
                </strong>
                <a href="#">8h00 - 17h00, T2 - T7 (Giờ hành chính)</a>
            </center>
        </div>

        <div id="f2"></div>

        <div id="footer3">
            <center>
                <strong>
                    <br />
                    <i class="fa-solid fa-bag-shopping"></i><br />
                    HỆ THỐNG CỬA HÀNG<br />
                </strong>
                <a href="#">120 cửa hàng trên toàn hệ thống</a>
            </center>
        </div>

        <div id="f3"></div>


        <div id="footer4">
            <center>
                <strong>
                    <br />
                    <i class="fa-solid fa-bag-shopping"></i><br />
                    VẬN CHUYỂN<br />
                </strong>
                <a href="#">Đồng giá 30k toàn quốc</a>
            </center>
        </div>

        <div id="foobody">
            <div class="fbd">
                <center>
                    <h4>THÔNG TIN</h4>
                    <a href="">
                        <p1>
                            CÔNG TY TNHH THỜI TRANG ELISE <br /> Tầng 8 - Số 2  Tôn Thất Tùng - Đống Đa - Hà Nội<br />
                        </p1>
                    </a>
                    <a href="https://elise.vn/tel:19003060"                     <p>
                            19003060
                        </p>
                    </a>
                    <a href="mailto:support@elise.vn"
                        <p>
                            support@elise.vn
                        </p>
                    </a>
                    <a href=""
                        <p>
                            MST: 0108393204
                        </p>
                    </a>
                </center>
            </div>

            <div class="fbg">
                <center>
                    <h4>LIÊN HỆ</h4>
                    <a href="https://elise.vn/about-us">
                        <p1>
                            Giới thiệu<br />
                        </p1>
                    </a>
                    <a href="https://elise.vn/blog">
                        <p2>
                            Tin tức<br />
                        </p2>
                    </a>
                    <a href="https://elise.vn/maplist">
                        <p3>
                            Hệ thống cửa hàng<br />
                        </p3>
                    </a>
                    <a href="https://elise.vn/help">
                        <p4>
                            Trợ giúp<br />
                        </p4>
                    </a>
                </center>
            </div>

            <div class="fbp">
                <center>
                    <h4>HỖ TRỢ KHÁCH HÀNG</h4>
                    <a href="https://elise.vn/shopping-online">
                        <p1>
                            Hướng dẫn mua hàng<br />
                        </p1>
                    </a>
                    <a href="https://elise.vn/customer/account/create/">
                        <p2>
                            Đăng ký tài khoản<br />
                        </p2>
                    </a>
                    <a href="https://elise.vn/delivery">
                        <p3>
                            Chính sách giao hàng<br />
                        </p3>
                    </a>
                    <a href="https://elise.vn/refunds-returns">
                        <p4>
                            Chính sách đổi trả hoàn tiền<br />
                        </p4>
                    </a>
                    <a href="https://elise.vn/uu-dai-sinh-nhat-khach-hang">
                        <p5>
                            Ưu đãi sinh nhật khách hàng<br />
                        </p5>
                    </a>
                    <a href="https://insta.vn/httt/">
                        <p6>
                            Hướng dẫn thanh toán qua Insta<br />
                        </p6>
                    </a>
                    <a href="https://insta.vn/cach-thuc-thanh-toan/">
                        <p7>
                            Hướng dẫn trả góp qua Insta <br />
                        </p7>
                    </a>
                </center>
            </div>
            <img width="150" src="https://elise.vn/media/wysiwyg/footer/apple-download.png" >
            <img width="150" src="https://elise.vn/media/wysiwyg/footer/chplay-download.png">

        </div>
        <div id="footerc">
            <center>
                <i class="fa-brands fa-facebook-f"> FACEBOOK</i>
                <i class="fa-brands fa-instagram"> INSTAGRAM</i>
                <i class="fa-brands fa-youtube"> YOUTUBE</i>
                <i class="fa-brands fa-tiktok"> TIKTOK</i>
                <i class="fa-brands fa-dyalog"> ZALO</i>
                <h4>© Elise 2020. All rights reserved</h4>
                <img width="150" src="https://elise.vn/media/wysiwyg/bocongthuong.png">
            </center>
            <h5>VIỆT NAM | ENGLISH</h5>

        </div>
    <script src="~/Scripts/js/main.js"></script>
</body>
</html>
