
@{
    ViewBag.Title = "ELISE - ĐỊNH HƯỚNG PHONG CÁCH THỜI TRANG";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}

    <div class="slideshow-container">
        <a href="#" class="slide fade">
            <img class="img-side" src="https://elise.vn/media/wysiwyg/BANNER/cv-PREPPY-VIBES.jpg" alt="Image 1">
        </a>
        <a href="#" class="slide fade">
            <img class="img-side" src="https://elise.vn/media/wysiwyg/BANNER/cv-knit.jpg" alt="Image 2">
        </a>
        <a href="#" class="slide fade">
            <img class="img-side" src="https://elise.vn/media/wysiwyg/BANNER/cv-bw.jpg" alt="Image 3">
        </a>
        <div class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
    <div class="content">
        <div class="row">
            <h3 class="text-center fs-30 " id="new-arrival-title">NEW ARRIVAL</h3>
            <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                <a href="#" class="product-card">
                    <div class="image-container cursor-pointer">
                        <img class="base-image image"
                             src="https://elise.vn/media/catalog/product/cache/b35d2052d2e1ce5f6cbaec523842ed65/f/f/ff2306391ocwopk.jpg"
                             alt="Base Image">
                        <img class="hover-image image"
                             src="https://elise.vn/media/catalog/product/cache/bb52e54e5ec1828d48ae8bf7c98f9f69/f/f/ff2306391ocwopk1.jpg"
                             alt="Hover Image">
                        <span class="sale triangle-up">
                            <span>-20%</span>
                        </span>
                    </div>
                    <div class="pt-3">
                        <a class="text-dark text-hover text-decoration-none fs-17 fw-500" href="#">
                            ÁO KHOÁC TWEED
                            HỒNG NẮP TÚI NGỰC
                        </a>
                        <div class="fs-16">
                            <span class="me-2 text-decoration-line-through">1.898.000 VND</span>
                            <span class="color-primary">1.518.400 VND</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                <a href="#" class="product-card">
                    <div class="image-container cursor-pointer">
                        <img class="base-image image"
                             src="https://elise.vn/media/catalog/product/cache/bb52e54e5ec1828d48ae8bf7c98f9f69/f/f/ff2308128tuwoyl.jpg"
                             alt="Base Image">
                        <img class="hover-image image"
                             src="https://elise.vn/media/catalog/product/cache/bb52e54e5ec1828d48ae8bf7c98f9f69/f/f/ff2308128tuwoyl2.jpg"
                             alt="Hover Image">
                        <span class="sale triangle-up">
                            <span>-20%</span>
                        </span>
                    </div>
                    <div class="pt-3">
                        <a class="text-dark text-hover text-decoration-none fs-17 fw-500" href="#">
                            ÁO KHOÁC TWEED
                            HỒNG NẮP TÚI NGỰC
                        </a>
                        <div class="fs-16">
                            <span class="me-2 text-decoration-line-through">1.898.000 VND</span>
                            <span class="color-primary">1.518.400 VND</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                <a href="#" class="product-card">
                    <div class="image-container cursor-pointer">
                        <img class="base-image image"
                             src="https://elise.vn/media/catalog/product/cache/b35d2052d2e1ce5f6cbaec523842ed65/f/f/ff2308095diwoge3.jpg"
                             alt="Base Image">
                        <img class="hover-image image"
                             src="https://elise.vn/media/catalog/product/cache/b35d2052d2e1ce5f6cbaec523842ed65/f/f/ff2308095diwoge.jpg"
                             alt="Hover Image">
                        <span class="sale triangle-up">
                            <span>-20%</span>
                        </span>
                    </div>
                    <div class="pt-3">
                        <a class="text-dark text-hover text-decoration-none fs-17 fw-500" href="#">
                            ÁO KHOÁC TWEED
                            HỒNG NẮP TÚI NGỰC
                        </a>
                        <div class="fs-16">
                            <span class="me-2 text-decoration-line-through">1.898.000 VND</span>
                            <span class="color-primary">1.518.400 VND</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                <a href="#" class="product-card">
                    <div class="image-container cursor-pointer">
                        <img class="base-image image"
                             src="https://elise.vn/media/catalog/product/cache/b35d2052d2e1ce5f6cbaec523842ed65/f/f/ff2308077bpwopk1.jpg"
                             alt="Base Image">
                        <img class="hover-image image"
                             src="https://elise.vn/media/catalog/product/cache/b35d2052d2e1ce5f6cbaec523842ed65/f/f/ff2308077bpwopk2.jpg"
                             alt="Hover Image">
                        <span class="sale triangle-up">
                            <span>-20%</span>
                        </span>
                    </div>
                    <div class="pt-3">
                        <a class="text-dark text-hover text-decoration-none fs-17 fw-500" href="#">
                            ÁO KHOÁC TWEED
                            HỒNG NẮP TÚI NGỰC
                        </a>
                        <div class="fs-16">
                            <span class="me-2 text-decoration-line-through">1.898.000 VND</span>
                            <span class="color-primary">1.518.400 VND</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                <a href="#" class="product-card">
                    <div class="image-container cursor-pointer">
                        <img class="base-image image"
                             src="https://elise.vn/media/catalog/product/cache/b35d2052d2e1ce5f6cbaec523842ed65/f/f/ff2308095diwoge3.jpg"
                             alt="Base Image">
                        <img class="hover-image image"
                             src="https://elise.vn/media/catalog/product/cache/b35d2052d2e1ce5f6cbaec523842ed65/f/f/ff2308095diwoge.jpg"
                             alt="Hover Image">
                        <span class="sale triangle-up">
                            <span>-20%</span>
                        </span>
                    </div>
                    <div class="pt-3">
                        <a class="text-dark text-hover text-decoration-none fs-17 fw-500" href="#">
                            ÁO KHOÁC TWEED
                            HỒNG NẮP TÚI NGỰC
                        </a>
                        <div class="fs-16">
                            <span class="me-2 text-decoration-line-through">1.898.000 VND</span>
                            <span class="color-primary">1.518.400 VND</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                <a href="#" class="product-card">
                    <div class="image-container cursor-pointer">
                        <img class="base-image image"
                             src="https://elise.vn/media/catalog/product/cache/b35d2052d2e1ce5f6cbaec523842ed65/f/f/ff2308077bpwopk1.jpg"
                             alt="Base Image">
                        <img class="hover-image image"
                             src="https://elise.vn/media/catalog/product/cache/b35d2052d2e1ce5f6cbaec523842ed65/f/f/ff2308077bpwopk2.jpg"
                             alt="Hover Image">
                        <span class="sale triangle-up">
                            <span>-20%</span>
                        </span>
                    </div>
                    <div class="pt-3">
                        <a class="text-dark text-hover text-decoration-none fs-17 fw-500" href="#">
                            ÁO KHOÁC TWEED
                            HỒNG NẮP TÚI NGỰC
                        </a>
                        <div class="fs-16">
                            <span class="me-2 text-decoration-line-through">1.898.000 VND</span>
                            <span class="color-primary">1.518.400 VND</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                <a href="#" class="product-card">
                    <div class="image-container cursor-pointer">
                        <img class="base-image image"
                             src="https://elise.vn/media/catalog/product/cache/bb52e54e5ec1828d48ae8bf7c98f9f69/f/f/ff2308128tuwoyl.jpg"
                             alt="Base Image">
                        <img class="hover-image image"
                             src="https://elise.vn/media/catalog/product/cache/bb52e54e5ec1828d48ae8bf7c98f9f69/f/f/ff2308128tuwoyl2.jpg"
                             alt="Hover Image">
                        <span class="sale triangle-up">
                            <span>-20%</span>
                        </span>
                    </div>
                    <div class="pt-3">
                        <a class="text-dark text-hover text-decoration-none fs-17 fw-500" href="#">
                            ÁO KHOÁC TWEED
                            HỒNG NẮP TÚI NGỰC
                        </a>
                        <div class="fs-16">
                            <span class="me-2 text-decoration-line-through">1.898.000 VND</span>
                            <span class="color-primary">1.518.400 VND</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                <a href="#" class="product-card">
                    <div class="image-container cursor-pointer">
                        <img class="base-image image"
                             src="https://elise.vn/media/catalog/product/cache/b35d2052d2e1ce5f6cbaec523842ed65/f/f/ff2308095diwoge3.jpg"
                             alt="Base Image">
                        <img class="hover-image image"
                             src="https://elise.vn/media/catalog/product/cache/b35d2052d2e1ce5f6cbaec523842ed65/f/f/ff2308095diwoge.jpg"
                             alt="Hover Image">
                        <span class="sale triangle-up">
                            <span>-20%</span>
                        </span>
                    </div>
                    <div class="pt-3">
                        <a class="text-dark text-hover text-decoration-none fs-17 fw-500" href="#">
                            ÁO KHOÁC TWEED
                            HỒNG NẮP TÚI NGỰC
                        </a>
                        <div class="fs-16">
                            <span class="me-2 text-decoration-line-through">1.898.000 VND</span>
                            <span class="color-primary">1.518.400 VND</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                <a href="#" class="product-card">
                    <div class="image-container cursor-pointer">
                        <img class="base-image image"
                             src="https://elise.vn/media/catalog/product/cache/b35d2052d2e1ce5f6cbaec523842ed65/f/f/ff2306391ocwopk.jpg"
                             alt="Base Image">
                        <img class="hover-image image"
                             src="https://elise.vn/media/catalog/product/cache/bb52e54e5ec1828d48ae8bf7c98f9f69/f/f/ff2306391ocwopk1.jpg"
                             alt="Hover Image">
                        <span class="sale triangle-up">
                            <span>-20%</span>
                        </span>
                    </div>
                    <div class="pt-3">
                        <a class="text-dark text-hover text-decoration-none fs-17 fw-500" href="#">
                            ÁO KHOÁC TWEED
                            HỒNG NẮP TÚI NGỰC
                        </a>
                        <div class="fs-16">
                            <span class="me-2 text-decoration-line-through">1.898.000 VND</span>
                            <span class="color-primary">1.518.400 VND</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                <a href="#" class="product-card">
                    <div class="image-container cursor-pointer">
                        <img class="base-image image"
                             src="https://elise.vn/media/catalog/product/cache/bb52e54e5ec1828d48ae8bf7c98f9f69/f/f/ff2308128tuwoyl.jpg"
                             alt="Base Image">
                        <img class="hover-image image"
                             src="https://elise.vn/media/catalog/product/cache/bb52e54e5ec1828d48ae8bf7c98f9f69/f/f/ff2308128tuwoyl2.jpg"
                             alt="Hover Image">
                        <span class="sale triangle-up">
                            <span>-20%</span>
                        </span>
                    </div>
                    <div class="pt-3">
                        <a class="text-dark text-hover text-decoration-none fs-17 fw-500" href="#">
                            ÁO KHOÁC TWEED
                            HỒNG NẮP TÚI NGỰC
                        </a>
                        <div class="fs-16">
                            <span class="me-2 text-decoration-line-through">1.898.000 VND</span>
                            <span class="color-primary">1.518.400 VND</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                <a href="#" class="product-card">
                    <div class="image-container cursor-pointer">
                        <img class="base-image image"
                             src="https://elise.vn/media/catalog/product/cache/b35d2052d2e1ce5f6cbaec523842ed65/f/f/ff2308077bpwopk1.jpg"
                             alt="Base Image">
                        <img class="hover-image image"
                             src="https://elise.vn/media/catalog/product/cache/b35d2052d2e1ce5f6cbaec523842ed65/f/f/ff2308077bpwopk2.jpg"
                             alt="Hover Image">
                        <span class="sale triangle-up">
                            <span>-20%</span>
                        </span>
                    </div>
                    <div class="pt-3">
                        <a class="text-dark text-hover text-decoration-none fs-17 fw-500" href="#">
                            ÁO KHOÁC TWEED
                            HỒNG NẮP TÚI NGỰC
                        </a>
                        <div class="fs-16">
                            <span class="me-2 text-decoration-line-through">1.898.000 VND</span>
                            <span class="color-primary">1.518.400 VND</span>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6 mb-5">
                <a href="#" class="product-card">
                    <div class="image-container cursor-pointer">
                        <img class="base-image image"
                             src="https://elise.vn/media/catalog/product/cache/bb52e54e5ec1828d48ae8bf7c98f9f69/f/f/ff2308128tuwoyl.jpg"
                             alt="Base Image">
                        <img class="hover-image image"
                             src="https://elise.vn/media/catalog/product/cache/bb52e54e5ec1828d48ae8bf7c98f9f69/f/f/ff2308128tuwoyl2.jpg"
                             alt="Hover Image">
                        <span class="sale triangle-up">
                            <span>-20%</span>
                        </span>
                    </div>
                    <div class="pt-3">
                        <a class="text-dark text-hover text-decoration-none fs-17 fw-500" href="#">
                            ÁO KHOÁC TWEED
                            HỒNG NẮP TÚI NGỰC
                        </a>
                        <div class="fs-16">
                            <span class="me-2 text-decoration-line-through">1.898.000 VND</span>
                            <span class="color-primary">1.518.400 VND</span>
                        </div>
                    </div>
                </a>
            </div>

            <!-- btn xem thêm  -->
            <button id="load-more" class="btn bg-dark text-white mx-auto mt-5 mb-5 rounded-0 uppercase fw-500"
                    style="height: 3rem; width: 10.5rem;">
                Xem thêm
            </button>

        </div>
    </div>

