* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
}

/* comom */
.btn {
}

/*  */
#header {
    height: 7.5rem;
    background-color: #ccc;
}

/* slide show */
.img-side {
    width: 100%;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.slide {
    display: none;
}


.dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.active {
    background-color: #fff;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* product */

#container {
    width: 100%;
    display: flex;
    gap: 30px;
    margin: auto;
}

.categories {
    border-top: #ff532d solid 5px;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 24px;
    min-width: 250px;
    background-color: #f9f9f9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.icon-menu__categories {
    color: #ff532d;
    font-size: 1.875rem;
    padding: 0 10px;
    margin: 16px 0;
}

.categories-tittle {
    font-size: 1.875rem;
    font-weight: 500;
}

.category {
    list-style-type: none;
}

.category-item {
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 50px;
    font-weight: 500;
}

.category-item:hover {
    color: #ff532d;
}

.all-product__category-item {
    color: #000;
    text-transform: none;
    list-style-type: none;
    font-size: 1rem;
    margin-left: 20px;
    padding: 8px 4px;
    font-weight: 400;
    opacity: 0.8;
}

.category-item > .all-product__category-item:hover {
    color: #ff532d;
}

.content {
    display: grid;
    width: 100%;
}

.arival-text {
    font-size: 1.875rem;
    font-weight: 400;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    margin: 48px 0 30px;
    padding: 15px 0;
    width: 100%;
}

.list-products {
    display: grid;
    gap: 20px;
    grid-template-columns: auto auto auto auto;
}

.product-card {
    width: 350px;
}

.image-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-image__item {
    width: 100%;
    height: auto;
}

.product-image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(230, 225, 225, 0.5);
    opacity: 0;
    transition: opacity 0.5s;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 20px;
}

.btn-add__bag {
    border: none;
    overflow: hidden;
}

.icon-product {
    color: #000;
    background-color: #fff;
    padding: 15px;
    font-size: 1rem;
    border-radius: 5px;
}

icon-product:hover {
    background-color: #ff532d;
    color: #fff;
    border-radius: 5px;
}

.image-container:hover .product-image__overlay {
    opacity: 1;
    cursor: pointer;
}

.product-details {
    text-align: center;
    padding: 10px;
    width: 100%;
}

.product-name {
    font-size: 0.875rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}

.product-price {
    color: #ff532d;
    margin-top: 8px;
}

/* phan trang */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-btn {
    padding: 10px 15px;
    color: #000;
    border: none;
    cursor: pointer;
    margin: 20px 5px;
    border-radius: 20px;
}

.page-btn.active {
    background-color: #ff532d;
    color: #fff;
}

.page-btn:hover {
    background-color: #ff532d;
    color: #fff;
}
