
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}


<h3 class="arival-text">ALL PRODUCT</h3>

<div class="list-products" id="product-list">


    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>

    <div class="product-card">
        <div class="image-container">
            <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
            <span class="product-image__overlay">
                <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
            </span>
        </div>
        <div class="product-details">
            <h3>
                <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
            </h3>
            <div class="product-price">650.000đ</div>
        </div>
    </div>



</div>
<div class="pagination">
    <button class="page-btn" id="prev-page-btn">
        <i class="fa-solid fa-chevron-left"></i>
    </button>
    <button class="page-btn">1</button>
    <button class="page-btn">2</button>
    <button class="page-btn">3</button>
    <button class="page-btn" id="next-page-btn">
        <i class="fa-solid fa-chevron-right"></i>
    </button>
    <!-- Thêm các nút trang khác tùy theo số trang -->
</div>