
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_MasterLayoutPage.cshtml";
}



    <!-- top danh mục -->
    <div class="my-5 backgroud-1 pb-5 rounded-3">
        <div class="row justify-content-around">
            <div class="d-flex justify-content-between align-items-center my-3 px-5 py-4">
                <div class="bgcolor-primary " style="width: 10rem; height: 0.5rem;"></div>
                <span class="">
                    <h3 class="text-dark fs-48 cursor-text " style="width: 23rem;">TOP DANH MỤC</h3>
                </span>
            </div>

            <div class="" style="width: 15rem;">
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-bars fs-21 text-dark"></i>
                    <h3><span class="text-dark fs-30 ps-2">Danh mục</span></h3>
                </div>
                <ul class="list-unstyled px-5 no-line-break">
                    <li class="color-primary fs-18 opacity-90 category-hover">Trang chủ</li>
                    <li class="text-dark fs-18 opacity-90 category-hover">Giới thiệu</li>
                    <li class="text-dark fs-18 opacity-90 category-hover">Tất cả sản phẩm</li>
                    <li class="text-dark fs-18 opacity-90 category-hover">Tin tức</li>
                    <li class="text-dark fs-18 opacity-90 category-hover">Liên hệ</li>
                </ul>
            </div>

            <div class=" border-none cursor-pointer" style="width: 15rem;">
                <div class="image-container rounded-3">
                    <img src="https://bizweb.dktcdn.net/100/376/737/themes/894814/assets/banner_col_1.jpg?1676271560514"
                         class="card-img-top img-fluid image" alt="...">
                </div>
                <div class="card-body text-center ">
                    <a href="#" class="text-hover text-dark text-decoration-none text-hover">#ÁO QUẦN</a>
                </div>
            </div>

            <div class=" border-none cursor-pointer" style="width: 15rem;">
                <div class="image-container rounded-3">
                    <img src="https://bizweb.dktcdn.net/100/376/737/themes/894814/assets/banner_col_3.jpg?1676271560514"
                         class="card-img-top img-fluid image" alt="...">
                </div>
                <div class="card-body text-center ">
                    <a href="#" class="text-hover text-dark text-decoration-none text-hover">#GIÀY DÉP</a>
                </div>
            </div>

            <div class=" border-none cursor-pointer" style="width: 15rem;">
                <div class="image-container rounded-3">
                    <img src="https://bizweb.dktcdn.net/100/376/737/themes/894814/assets/banner_col_2.jpg?1676271560514"
                         class="card-img-top img-fluid image" alt="...">
                </div>
                <div class="card-body text-center ">
                    <a href="#" class="text-hover text-dark text-decoration-none text-hover">#PHỤ KIỆN</a>
                </div>
            </div>
        </div>
    </div>

    <!--sản phẩm mới  -->
    <div class="my-5 pb-5 rounded-3">
        <div class="row justify-content-around">
            <div class="d-flex justify-content-between align-items-center my-3 p-5">
                <span class="">
                    <h3 class="text-dark fs-48 cursor-text " style="width: 23rem;">SẢN PHẨM MỚI</h3>
                </span>
                <div class="d-flex align-items-center">
                    <a class="color-text text-decoration-none pe-3 text-hover" href="#">
                        Xem thêm sản phẩm
                        <span><i class="fa-solid fa-caret-right"></i></span>
                    </a>
                    <div class="bgcolor-primary " style="width: 10rem; height: 0.5rem;"></div>
                </div>
            </div>

            <div class=" border-none cursor-pointer" style="width: 19rem;">
                <div class="image-container rounded-3 position-relative">
                    <img src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/4-30fe9776-e31b-4b19-891c-f78f6f4133f4.jpg?v=1580867574470"
                         class="card-img-top img-fluid image " alt="...">
                    <div class="position-absolute top-0 start-0 text-white py-4 ms-2 triangle-up d-flex align-items-center justify-content-center">
                        <div class="sale">-20%</div>
                    </div>
                </div>
                <div class="card-body text-center ">
                    <a href="#" class="text-hover text-dark uppercase text-decoration-none text-hover">Bông tai dâu tây Celebratory</a>
                    <div class="d-flex align-items-center justify-content-around">
                        <div class="color-primary cursor-text">299.000<span class="text-decoration-underline">đ</span></div>
                        <div class=" text-black-50 text-decoration-line-through">360.000<span class="text-decoration-underline">đ</span></div>
                    </div>
                </div>
            </div>

            <div class=" border-none cursor-pointer" style="width: 19rem;">
                <div class="image-container rounded-3 position-relative">
                    <img src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/1-e7df17d2-976d-4028-950c-2f90ac3603a9.jpg?v=1580867318857"
                         class="card-img-top img-fluid image " alt="...">
                    <div class="position-absolute top-0 start-0 text-white py-4 ms-2 triangle-up d-flex align-items-center justify-content-center">
                        <div class="sale">-20%</div>
                    </div>
                </div>
                <div class="card-body text-center ">
                    <a href="#" class="text-hover text-dark uppercase text-decoration-none text-hover">Dây chuyền vàng Jesso</a>
                    <div class="d-flex align-items-center justify-content-around">
                        <div class="color-primary cursor-text">299.000<span class="text-decoration-underline">đ</span></div>
                        <div class=" text-black-50 text-decoration-line-through">360.000<span class="text-decoration-underline">đ</span></div>
                    </div>
                </div>
            </div>

            <div class=" border-none cursor-pointer" style="width: 19rem;">
                <div class="image-container rounded-3 position-relative">
                    <img src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/28-e085f513-d466-44eb-871e-72441a6b15cc.jpg?v=1580866177203"
                         class="card-img-top img-fluid image " alt="...">
                    <div class="position-absolute top-0 start-0 text-white py-4 ms-2 triangle-up d-flex align-items-center justify-content-center">
                        <div class="sale">-20%</div>
                    </div>
                </div>
                <div class="card-body text-center ">
                    <a href="#" class="text-hover text-dark uppercase text-decoration-none text-hover">Bông tai vàng Ý Lanta</a>
                    <div class="d-flex align-items-center justify-content-around">
                        <div class="color-primary cursor-text">299.000<span class="text-decoration-underline">đ</span></div>
                        <div class=" text-black-50 text-decoration-line-through">360.000<span class="text-decoration-underline">đ</span></div>
                    </div>
                </div>
            </div>

            <div class=" border-none cursor-pointer" style="width: 19rem;">
                <div class="image-container rounded-3 position-relative">
                    <img src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/27.jpg?v=1580865889457"
                         class="card-img-top img-fluid image " alt="...">
                    <div class="position-absolute top-0 start-0 text-white py-4 ms-2 triangle-up d-flex align-items-center justify-content-center">
                        <div class="sale">-20%</div>
                    </div>
                </div>
                <div class="card-body text-center ">
                    <a href="#" class="text-hover text-dark uppercase text-decoration-none text-hover">Bông tai vàng ý Taiyou</a>
                    <div class="d-flex align-items-center justify-content-around">
                        <div class="color-primary cursor-text">299.000<span class="text-decoration-underline">đ</span></div>
                        <div class=" text-black-50 text-decoration-line-through">360.000<span class="text-decoration-underline">đ</span></div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!-- all product -->
    <div>
        <h3 class="arival-text">TẤT CẢ SẢN PHẨM</h3>
        <div class="list-products" id="product-list">

            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/17-b4917a5c-e2c5-4ec5-9ad8-dd41f080669e.jpg?v=1580803793833" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
                    </h3>
                    <div class="product-price">650.000đ</div>
                </div>
            </div>

            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Áo len họa tiết cá tính</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>

            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/33.jpg?v=1580865608603" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Bông tai kim cương Alley</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>

            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/16-d3533908-6ac5-42be-9546-c4b8825a2d6a.jpg?v=1580799805907" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Áo len đỏ</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>

            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Áo len họa tiết cá tính</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>

            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/33.jpg?v=1580865608603" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Bông tai kim cương Alley</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>


            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/17-b4917a5c-e2c5-4ec5-9ad8-dd41f080669e.jpg?v=1580803793833" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
                    </h3>
                    <div class="product-price">650.000đ</div>
                </div>
            </div>

            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Áo len họa tiết cá tính</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>


            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/33.jpg?v=1580865608603" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Bông tai kim cương Alley</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>


            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/17-b4917a5c-e2c5-4ec5-9ad8-dd41f080669e.jpg?v=1580803793833" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
                    </h3>
                    <div class="product-price">650.000đ</div>
                </div>
            </div>


            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/33.jpg?v=1580865608603" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Bông tai kim cương Alley</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>

            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/16-d3533908-6ac5-42be-9546-c4b8825a2d6a.jpg?v=1580799805907" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Áo len đỏ</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>

            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Áo len họa tiết cá tính</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>

            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/33.jpg?v=1580865608603" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Bông tai kim cương Alley</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>


            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/17-b4917a5c-e2c5-4ec5-9ad8-dd41f080669e.jpg?v=1580803793833" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
                    </h3>
                    <div class="product-price">650.000đ</div>
                </div>
            </div>


            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/33.jpg?v=1580865608603" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Bông tai kim cương Alley</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>


            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/17-b4917a5c-e2c5-4ec5-9ad8-dd41f080669e.jpg?v=1580803793833" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">ÁO KHOÁC DẠ MÀU NÂU</a>
                    </h3>
                    <div class="product-price">650.000đ</div>
                </div>
            </div>

            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/14-5fa969b0-4747-4797-810e-c83f7e3c7665.jpg?v=1580799611770" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Áo len họa tiết cá tính</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>

            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/33.jpg?v=1580865608603" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Bông tai kim cương Alley</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>

            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/16-d3533908-6ac5-42be-9546-c4b8825a2d6a.jpg?v=1580799805907" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Áo len đỏ</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>


            <div class="product-card">
                <div class="image-container">
                    <img class="product-image__item" src="https://bizweb.dktcdn.net/thumb/large/100/376/737/products/33.jpg?v=1580865608603" alt="">
                    <span class="product-image__overlay">
                        <i title="Thêm vào giỏ hàng" class="icon-product fa-solid fa-bag-shopping"></i>
                        <i title="Thông tin chi tiết" class="icon-product fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>
                <div class="product-details">
                    <h3>
                        <a class="product-name" href="">Bông tai kim cương Alley</a>
                    </h3>
                    <div class="product-price">800.000đ</div>
                </div>
            </div>
    
        </div>
        <!-- btn phan  -->
        <div class="pagination">
            <button class="page-btn" id="prev-page-btn">
                <i class="fa-solid fa-chevron-left"></i>
            </button>
            <button class="page-btn">1</button>
            <button class="page-btn">2</button>
            <button class="page-btn">3</button>
            <button class="page-btn" id="next-page-btn">
                <i class="fa-solid fa-chevron-right"></i>
            </button>
        </div>
    </div>



